In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import os
os.chdir('/content/drive/My Drive/google_colab')

**IMPORTANT:**
Instructions to install custom python library:

1.   Run code below => this will give error.
2.   Restart kernel
3.   Run code again => It should work.

In [ ]:
!pip install "/content/drive/My Drive/google_colab/ourpythonlibrary_v7/dist/ourpythonlib-0.1.0-py3-none-any.whl"

Processing ./ourpythonlibrary_v7/dist/ourpythonlib-0.1.0-py3-none-any.whl
Requirement already satisfied: numpy==1.21.2 in /usr/local/lib/python3.7/dist-packages (from ourpythonlib==0.1.0) (1.21.2)
Requirement already satisfied: pandas==1.3.3 in /usr/local/lib/python3.7/dist-packages (from ourpythonlib==0.1.0) (1.3.3)
Requirement already satisfied: scikit-learn==1.0.1 in /usr/local/lib/python3.7/dist-packages (from ourpythonlib==0.1.0) (1.0.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.3->ourpythonlib==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas==1.3.3->ourpythonlib==0.1.0) (2018.9)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.1->ourpythonlib==0.1.0) (1.1.0)
Requirement already satisfied: scipy>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.1->ourpythonlib==0.1.0) (1.4.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn==1.0.1->ourpythonlib==0.1.0) (3.0.0)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas==1.3.3->ourpythonlib==0.1.0) (1.15.0)
ourpythonlib is already installed with the same version as the provided wheel. Use --force-reinstall to force an installation of the wheel.

In [ ]:
import ourpythonlib
from ourpythonlib import ourfunctions

In [ ]:
# a) Load dataset
path = "sample_diabetes_mellitus_data.csv"
data = ourfunctions.load_dataset(path)

In [ ]:
# b) Split dataset
train, test = ourfunctions.split(data)

In [ ]:
# c) Drop NA rows in 3 features
columns = ["age", "gender", "ethnicity"]

train_cleaned = ourfunctions.clean_rows(train, columns)
test_cleaned = ourfunctions.clean_rows(test, columns)

In [ ]:
# d) Fill NA with mean in 2 cols
columns = ["height", "weight"]

train_filled = ourfunctions.fill_na_mean(train_cleaned, columns)
test_filled = ourfunctions.fill_na_mean(test_cleaned, columns)

/usr/local/lib/python3.7/dist-packages/ourpythonlib/ourfunctions.py:30: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  df_filled = df[cols].fillna(df.mean())

In [ ]:
# e) Dummies for etchnicity
train_dummies = ourfunctions.one_hot(train_filled, "ethn_", ["ethnicity"])
test_dummies = ourfunctions.one_hot(test_filled, "ethn_", ["ethnicity"])

In [ ]:
# f) Binary var for gender
train_binary = ourfunctions.one_hot(train_dummies, "sex", ["gender"])
train_binary = train_binary.iloc[:,:-1]

test_binary = ourfunctions.one_hot(test_dummies, "sex", ["gender"])
test_binary = test_binary.iloc[:,:-1]

In [ ]:
# g & h) Train model
target = "diabetes_mellitus"
features = ['age', 'height', 'weight', 'aids', 'cirrhosis', 'hepatic_failure', 'immunosuppression', 'leukemia', 'lymphoma', 'solid_tumor_with_metastasis']

ourfunctions.fit_predict(train_binary, target, features)

      height      weight  Unnamed: 0  ...  ethn__Other/Unknown  sex_F  predictions
9592   148.6   88.100000        9592  ...                    1      1     0.352475
128    180.3   96.000000         128  ...                    0      0     0.219965
3049   165.1   81.600000        3049  ...                    0      1     0.229753
2      172.7   95.300000           2  ...                    0      1     0.125697
9331   175.2   75.100000        9331  ...                    0      0     0.161386
...      ...         ...         ...  ...                  ...    ...          ...
730    188.0  118.900000         730  ...                    0      0     0.235502
4942   157.5   86.987353        4942  ...                    0      1     0.352656
1372   165.1   65.500000        1372  ...                    0      1     0.173395
7136   175.3   90.700000        7136  ...                    0      0     0.144495
1042   167.6   83.200000        1042  ...                    0      0     0.312640

[7033 rows x 59 columns]

In [ ]:
# i) Metric scores
ourfunctions.asses(train_binary['diabetes_mellitus'], train_binary['predictions'])

0.6716681628850406